@use '../abstracts' as a;

.footer-style {
    background-color: a.$primary-color;
    padding-top: 2em;
}

.copyright {
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
    padding: 30px 0 30px 0;
}

.btn-back {
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background-color: a.$primary-color;
    padding: 10px 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.btn-back-top {
    display: flex;
    justify-content: flex-end;
    padding-top: 19px;
}

.mobile-back {
    display: block;
}

.logo-footer {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.nav-list-style {
    margin-bottom: 12%;
    text-align: left;
    font-family: a.$navbar-font-family;
}

.nav-list-style ul li {
    list-style-type: none;
}

.nav-list-style ul li a {
    text-decoration: none;
    color: white;
}

.nav-list-a {
    line-height: 1.6em;
}

.nav-list-p {
    color: #ffffff;
}

.nav-list-a:hover {
    transform: scale(1);
    color: a.$secondary-color;
}

.social-media-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media-style li a {
    margin-right: 16px;
    text-align: center;
}

.social-media-style li {
    list-style-type: none;
}

.footer-icon {
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.footer-icon i {
    transition: all 0.3s linear;
}

.footer-icon:hover i {
    transform: scale(1);
    color: a.$secondary-color;
}


@media screen and (max-width: 768px) {

    .footer-style {
        padding-top: 0px;
    }

    .logo-footer-img {
        width: 120px;
        height: 120px;
    }

    .social {
        margin-bottom: 10%;
        text-align: center;
        margin-top: 20%
    }

    .social-media-style {
        margin-top: 3%;
    }

    .nav-list-style {
        display: none;
    }

    .mobile-back {
        display: none;
    }

}

@media screen and (min-width: 769px) {
    .logo-footer-img {
        margin-top: 40px;
        width: 100px;
        height: 100px;
    }

    .nav-list-style {
        margin-top: 13%;
    }

    .nav-list-style ul li a {
        font-size: 17px;
    }

    .nav-list-p {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .social-media-style {
        margin: 3% 0 0 4%;
    }

    .btn-back-top {
        padding-top: 22px;
    }
    
    .btn-back {
        padding: 8px 14px;
        font-size: 14px;
    }

}

@media screen and (min-width: 1200px) {


    .logo-footer-img {
        margin-top: 60px;
        width: 100px;
        height: 100px;
    }

    .social {
        text-align: center;
        margin-bottom: 20%;
        margin-top: 0;
    }

    .nav-list-style {
        margin-top: 13%;
    }

    .nav-list-style ul li a {
        font-size: 19px;
    }

    .nav-list-p {
        color: #ffffff;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .social-media-style {
        margin: 3% 0 0 4%;
    }

}

@media screen and (min-width: 1920px) {
    .social {
        margin-bottom: 20%;
        text-align: center;
    }

    .social-media-style {
        margin: 3% 0 0 4%;
    }

}