@use '../abstracts' as a;

.features-title h3 {
    text-align: center;
    color: a.$primary-color;
}

.product {
    margin-top: 22px;
    padding: 10px;
}
.product h4 {
    font-family: a.$body-font-family;
    font-weight: 300;
    text-align: center;
}

.product p {
    text-align: center;
    color: a.$secondary-color;
}

@media screen and (max-width: 768px) {
    .features-title h3 {
        font-size: 30px;
        margin: 40px 0 20px 0;
    }

    .product h4 {
        font-size: 22px;
        padding: 0 50px 0 50px;
    }

    .product p {
        font-size: 54px;
        margin: 20px 0 60px 0;
    }
    .product-title-con {
        height: 80px;
    }
}

@media screen and (min-width: 769px){
    .features-title h3 {
        font-size: 34px; 
        margin-top: 70px;
    }

    .product h4 {
        font-size: 22px; 
        margin-top: 15px;
    }

    .product p {
        font-size: 54px;
        margin-bottom: 60px;
    }

    .product-title-con {
        height: 110px;
    }
}


@media screen and (min-width: 1200px) {
    
    .features-title h3 {
        font-size: 42px;
        margin-top: 90px;
    }

    .product h4 {
        font-size: 24px;
        padding: 15px;
    }

    .product p {
        font-size: 60px;
        margin-bottom: 100px;
    }

    .product-title-con {
        height: 120px;
    }
}

@media screen and (min-width: 1920px) {
    .features-title h3 {
        font-size: 42px;
        margin-top: 90px;
    }

    .product h4 {
        font-size: 28px;
    }

    .product p {
        font-size: 60px;
        margin-bottom: 60px;
    }

    .product-title-con {
        height: 140px;
    }
}