@use '../abstracts' as a;

#x-ray-cont {
    display: none;
}


.x-ray-title {
    font-family: a.$body-font-family;
    text-align: center;
    color: a.$primary-color;
}

@media screen and (max-width: 768px) {

    .x-ray-title  {
        font-size: 6vw;
        margin: 10px 0 20px 0;
    }

}

@media screen and (min-width: 769px) {

    .x-ray-title {
        font-size: 48px;
        margin: 60px 0 20px 0;
    }

}

@media screen and (min-width: 1200px) {
    .x-ray-title {
        font-size: 60px;
        margin: 50px 0 40px 0;
    }

    #mobile-tablet-view {
        display: none;
    }

    #x-ray-cont {
        display: block;
        max-width: 1200px;
       
    }

    #imageCon {
        position: relative;
        max-width: 1200px;
        height: 100vh;
    }

    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 100vh;
    }

    .image-right {
        background: url(/images/x-ray.jpg) no-repeat;
        background-size: cover;
        
    }

    .image-left {
        background: url(/images/x-ray-main.jpg) no-repeat;
        background-size: cover;
        
        width: 50%;
    }

    .image-drag {
        background-color: a.$primary-color;
        left: 50%;
        width: 4px;
        cursor: pointer;
    }

}

@media screen and (min-width: 1920px) {
    .x-ray-title {
        font-size: 60px;
        margin: 10px 0 20px 0;
    }

}


