@use '../abstracts' as a;

body {
    margin: 0px;
    padding: 0px;
    font-family: a.$body-font-family;
    color: a.$body-color;
}

.box-starting {
    background-color: rgb(221, 221, 221);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    h3 {
        font-size: 32px;
    }
}

.earbuds-title h3 {
    font-family: a.$navbar-font-family;
    text-transform: uppercase;
    color: a.$secondary-color;
}

.earbuds-title h4 {
    color: a.$primary-color;
}

.img-cont {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.img-cont img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero-img {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.hero-cont{
    position: relative;
}

.btn {
    background-color: a.$primary-color;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: #ffffff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 300;
}

.btn:hover {
    background-color: #e1abb0;
    color: #7693a6;
    transform: scale(1);
}

.btn-buy {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

@media screen and (max-width: 768px) {

    .logo {
        margin-top: 20px;
    }

    .btn {
        font-size: 3vw;
        padding: 10px 30px;
    }

    .earbuds-title {
        text-align: left;
        padding-left: 20px;
    }

    .earbuds-title h3 {
        font-size: 18px;
        margin-top: 50px;
    }

    .earbuds-title h4 {
        font-size: 40px;
        margin: 10px 0 15px 0;
    }

    .earbuds-text {
        font-size: 18px;
        padding: 0 20px 0 20px;
        line-height: 1.4;
    }

    .img-cont {
        margin: 40px 0 40px 0;
    }
}

@media screen and (min-width: 769px) {

    .logo {
        margin-top: 10px;
    }

    .btn {
        font-size: 18px;
        padding: 10px 32px;
    }

    .earbuds-title {
        text-align: left;
        padding-left: 20px;
    }

    .earbuds-title h3 {
        font-size: 18px;
        margin-top: 60px;

    }

    .earbuds-title h4 {
        font-size: 46px;
        margin: 10px 0 15px 0;
    }

    .earbuds-text {
        font-size: 20px;
        padding: 0 20px 0 20px;
        line-height: 1.6;
    }

    .img-cont {
        margin: 40px 0 40px 0;
    }

}

@media screen and (min-width: 1200px) {

    .logo {
        margin-top: 10px;
    }

    .earbuds-style {
        margin: 60px 0 50px 0;
    }

    .earbuds-title {
        text-align: left;
        padding-left: 30px;
    }

    .earbuds-title h3 {
        font-size: 20px;
        margin-top: 50px;

    }

    .earbuds-title h4 {
        font-size: 60px;
        margin: 10px 0 20px 0;
    }

    .earbuds-text {
        font-size: 20px;
        padding: 10px 30px 0 30px;
        line-height: 1.8;
    }

}

@media screen and (min-width: 1920px) {

    .logo {
        margin-top: 12px;
    }

    .earbuds-style {
        margin: 50px 0 50px 0;
    }

    .earbuds-title {
        text-align: left;
        padding-left: 30px;
    }

    .earbuds-title h3 {
        font-size: 20px;
        margin-top: 50px;

    }

    .earbuds-title h4 {
        font-size: 60px;
        margin: 10px 0 20px 0;
    }

    .earbuds-text {
        font-size: 21px;
        padding: 10px 30px 20px 30px;
        line-height: 1.7;
    }
}